<xml version="1.0" ?>
<robot name="car" xmlns:xacro="http://ros.org/wiki/xacro">

 <link name="world"/>

 <link name="base_link">
  <visual>
   <geometry>
     <box size="2.0 4.0 1.0"/>
   </geometry>
  </visual>
  <collision>
   <geometry>
    <box size="2.0 4.0 1.0"/>
   </geometry>
  </collision>
 </link>

 <link name="FLwheel">
  <visual>
   <geometry>
     <cylinder length="0.5" radius ="1.0"/>
   </geometry>
  </visual>
  <collision>
   <geometry>
    <cylinder length="0.5" radius ="1.0"/>
   </geometry>
  </collision>
 </link>

 <link name="FRwheel">
  <visual>
   <geometry>
     <cylinder length="0.5" radius ="1.0"/>
   </geometry>
  </visual>
  <collision>
   <geometry>
    <cylinder length="0.5" radius ="1.0"/>
   </geometry>
  </collision>s
 </link>

 <link name="RLwheel">
  <visual>
   <geometry>
     <cylinder length="0.5" radius ="1.0"/>
   </geometry>
  </visual>
  <collision>
   <geometry>
    <cylinder length="0.5" radius ="1.0"/>
   </geometry>
  </collision>
 </link>

 <link name="RRwheel">
  <visual>
   <geometry>
     <cylinder length="0.5" radius ="1.0"/>
   </geometry>
  </visual>
  <collision>
   <geometry>
    <cylinder length="0.5" radius ="1.0"/>
   </geometry>
  </collision>
 </link>
</robot>